<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.mavensouj.WC_Login_CreateAcct_ForgotPwd_UI"/>
      <class name="com.mavensouj.WC_EndToEnd_Purchase_Webhosting_Under_ExistingDomain"/>
      <class name="com.mavensouj.WC_UI_EndToEnd_Purchase_Domain"/>
      <class name="com.mavensouj.WC_UI_EndToEnd_Purchase_Webhosting_Product_NewDomain"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
